<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">@Text</div>
            <div>
                @ChildContent
            </div>
        </div>
    </div>
</footer>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    protected override bool ShouldRender()
    {
        return false;
    }
}
