<!-- Navbar-->
<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="navbarDropdown"
           href="#"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-user fa-fw"></i> @Username</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="@LogoutUrl" target="_self">Logout</a></li>
        </ul>
    </li>
</ul>

@code {
    [Parameter] public string LogoutUrl { get; set; } = "#!";
    [Parameter] public string? Username { get; set; }

}
