 <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @ChildContent
                    </div>
                </div>
                @if (SidenavFooter != null)
                {
                    <div class="sb-sidenav-footer">
                        @SidenavFooter
                    </div>
                }
            </nav>

@code {
    [Parameter] public RenderFragment? SidenavFooter { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
