@page
@model Dottor.Umarell.Server.Pages._HostModel
@inject IConfiguration Config
@{
    Layout = "";
    var googleMapsKey = Config["GoogleMaps:Key"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Andrea Dottor" />
    <title>Umarell 2.0</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <link href="~/_content/Dottor.Blazor.UI/css/styles.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="Dottor.Umarell.Client.styles.css" rel="stylesheet" />
</head>
<body>

    <div id="app">
        <div class="container pt-3">
            <div class="row mt-3">
                <div class="col text-center">
                    <img src="~/images/Walk.gif" />
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    Loading...
                </div>
            </div>
        </div>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="~/_content/Dottor.Blazor.UI/js/bootstrap.bundle.min.js"></script>
    <script src="~/_framework/blazor.webassembly.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=@googleMapsKey"></script>

</body>
</html>