@page
@model Dottor.Umarell.Server.Pages._HostModel
@inject IConfiguration Config
@{
    Layout = "";
    var googleMapsKey = Config["GoogleMaps:Key"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Andrea Dottor" />
    <title>XE - Dottor - Umarell 2.0</title>
    <link href="~/_content/Dottor.Umarell.UI/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="Dottor.Umarell.Client.styles.css" rel="stylesheet" />
</head>
<body>

    <div id="app">Loading...</div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/_content/Dottor.Umarell.UI/js/app.js"></script>
    <script src="~/_framework/blazor.webassembly.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=@googleMapsKey"></script>

</body>
</html>